.App {
  text-align: center;
}

.card {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 2);
  transition: 0.35;
  width:20%;
  margin: 0 auto 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}
.container{
  padding:  2px 16px;
}